/* For screens with a maximum width of 600px (adjust as needed) */
@media (max-width: 600px) {
    .MovieQuiz {
        padding: 10px;
    }

    .quiz-section {
        width: 250px;
        /* Adjust the width for smaller screens */
    }
}

.MovieQuiz {
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Makes the container take the full height of the viewport */
    flex-direction: column;
}

.title {
    margin-bottom: 20px;
}

.quiz-section {
    margin: auto;
    width: 300px;
}

.poster-image {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

input {
    flex: 1;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
}

button {
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #008CBA;
    color: white;
    cursor: pointer;
}

.input-section {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.submit-button {
    margin-left: 10px;
    border-radius: 5px;
}

.message {
    margin-top: 10px;
    padding: 10px;
    color: white;
    border-radius: 5px;
}

.message.green {
    background-color: green;
}

.message.red {
    background-color: red;
}

.score {
    font-size: 1.2em;
    margin-bottom: 20px;
    margin-top: 20px;
}

.quiz-over {
    text-align: center;
    margin-top: 20px;
}

.current-movie {
    margin-bottom: 10px;
}

.flex-container {
    display: flex;
}

.left-section,
.right-section {
    padding: 20px;
}

.right-section {
    width: 300px;
    /* Adjust this value to your preference */
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

input,
.submit-button {
    height: 40px;
    /* Adjust this value to your preference */
}

.mode-section {
    width: 100%;
}