.App {
  padding: 20px;
}

/* Adjust the image size and add some padding around each movie poster */
.MovieList .carousel-item .col-md-3 img {
  margin-bottom: 10px;
  border: 2px solid #ddd; /* Optional: add border around the image */
  border-radius: 10px; /* Optional: round the corners */
}

/* Optional: style the carousel captions */
.MovieList .carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 10px;
}